/* Styling der HTML Elemente durch CSS Datei
Werden mittels Klassen oder als Elemente angesprochen */

body { 
    margin: 0; 
    background-color: rgb(80, 80, 80);
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(120, 120, 120);
    height: 10%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0;
    margin-top: 1%;
    padding: 2%;
    border-radius: 10px;
}

label {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
}

.div-dropdown {
    display: inline;
    width: 5%;
    margin-right: 2%;
    margin-left: 0.75%;
}

.div-dropdown-checklist {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    padding: 1%;
    height: 10%;
    background-color: rgb(120, 120, 120);
    border-radius: 10px;
    display: flex;            
    align-items: center;
}

.graph {
    border: solid;
    border-width: 10px;
    border-color: white;
    border-radius: 10px;
}

.div-graph-left {
    width: 49.5%;
    display: inline;
    float: left;
}

.div-graph-right {
    width: 49.5%;
    display: inline-block;
    margin-left: 1%;
}